<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Consultation Notification</title>
</head>
<body>
    <h1>Hello,</h1>
    <p>A consultations requests was rejected by '{{ board.title }}' commission.</p>
    <p>Consultation Tag: '{{consultation.tag}}'.</p>
    <p>Please check the platform for more details</p>
    <p>Thank you,</p>
    <p>Att. Proyecto Patrocinio.</p>
</body>
</html>
