asgiref==3.6.0
Django==4.1.4
dj-rest-auth==2.2.7
django-allauth==0.52.0
django-cors-headers==3.13.0
djangorestframework==3.14.0
docutils==0.19
gunicorn==20.1.0
psycopg2-binary==2.9.5
pytz==2022.7
sqlparse==0.4.3
tzdata==2022.7
coverage==7.3.2
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
redis==5.0.1
